*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(slike/teren.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

img {
    width: 50px;
    position: absolute;
}

.igrac {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 20px;
    background-color: purple;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}