*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.glavni-div {
 border: 1px solid purple;
 width: 500px;
 height: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

h1 {
    font-size: 10em;
}

button {
    padding: 20px;
    border-radius: 20px;
    border: none;
    cursor:grab;
    font-size: 25px;

}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    ;
}