.container {
    display: flex;
    
    
   justify-content:center;
   gap: 25px;
   flex-wrap: wrap;
   column-gap: 25px;
   background-color: blueviolet;
   align-items:center;


}

.container > div {
 width: 250px;
 background-color: rgb(0, 255, 221);
 height: fit-content;
} 

.petidiv {
    order: -1;
    flex-shrink: ;
}