*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
padding: 10px;
border-radius: 10px;
border: none;
margin: 20px;

}

.grey-bgc {
    background-color: aqua;
}
.turn-off {
    background-color: yellowgreen;
    width: 100px;
    height: 30px;
}

.turn-on {
    background-color: rgb(27, 126, 219);
    width: 100px;
    height: 30px;
}