*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    color: greenyellow;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: larger;
}
p{
    font-size: 3em;
    margin: 20px;
    letter-spacing: 10px;
}